body {
    background-image: url("../assets/images/surface-g09b7c81f7_1920.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: none;
}

section {
    background-color: lightblue;
}

h1 {
    background-color: lightblue;
}