body {
    background-image: url("https://cdn.pixabay.com/photo/2016/12/14/04/08/thunderbolt-1905603_960_720.png");
    background-size: cover;
    background-position: center;
    background-repeat: none;
}

section {
    background-color: lightblue;
}

h1 {
    background-color: lightblue;
}